/* main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 85% 1fr;
} */

.imgs-gallery{
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-gap: 10px 5px;
}

.imgs-gallery img {
    width: 95%;
    cursor: pointer;
}

.meme-editor{
    display: none;
    position: relative;
    width: 80%;
    height: 100%;
    justify-items: center;
    align-content: center;
    grid-template-columns: 70% 30%;
}