/* HELPERS */

.grid{
    display: grid;
}

.clean-list {
    list-style: none;
}

.clean-text{
    text-decoration: none;
    color: #225500;

}

.none-display{
    display: none;
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.active{
    background-color: #7c7c7c;
}

.display-block{
    display: block;
}