.modal{
  align-items: center;
  justify-items: center;
}

.modal-screen,
.firsttime-screen{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s;
    z-index: 1;
  }
  
  body.modal-open .modal-screen,
  body.intro-open .firsttime-screen{
    pointer-events: auto;
    opacity: 1;
  }
  
  .share-modal,
  .intro-modal{
    min-width: 45%;
    max-width: 65%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d2dae2;
    padding: 20px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s;
  }
  
  body.modal-open .share-modal,
  body.intro-open .intro-modal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    pointer-events: auto;
    opacity: 1;
  }

  body.intro-open .intro-modal{
    grid-template-columns: 1fr;
  }
  
  .share-modal button {
    padding-inline: 30px;
  }