@import url('./basic.css');
@import url('./helpers.css');

/*===============================*/

.logo {
  justify-self: flex-start;
  margin-inline-start: 1rem;
}

.nav-btns {
  margin-inline-end: 15px;
  justify-self: flex-end;
}

.a-list {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 15px;
}

main {
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 9fr 1fr;
  overflow-y: scroll;
}

main>*{
    width: 100%;
}


.imgs-gallery {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  justify-items: center;
  align-items: center;
}

.imgs-gallery img {
  width: 80%;
  margin: 10px auto;
}

.meme-editor{
  position: relative;
  width: 80%;
  height: 100%;
  justify-items: center;
  align-items: center;
  grid-template-rows: 40% 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  max-width: 250px;
}

.controlers-container {
  align-self: flex-start;
  padding: 60px 0;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% repeat(4, 1fr);
  grid-gap: 5px 5px;
  align-items: center;
  justify-items: center;
}

.line-input {
  grid-column: 1 / -1;
}

.save-btn {
  grid-column: 1 / 3;
}

.share-btn {
  grid-column: 3 / -1;
}

.prev-el,
.next-el {
  width: fit-content;
  height: fit-content;
}

footer {
  box-shadow: 0px 4px 16px 0px;
  width: 100%;
}

.footer-items {
  align-self: center;
  justify-self: center;
}

.screen-cover{
    width: 100vw;
    height: 100vh;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
}

@media (min-width: 740px) {
  .imgs-gallery {
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-gap: 10px 5px;
}

.imgs-gallery img {
    cursor: pointer;
}

.meme-editor {
    width: 100%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
  }
  canvas {
    max-width: 450px;
  }
}
