@import url('./desktop.css') (min-width: 740px);
@import url('./basic.css');
@import url('./helpers.css');








/*===============================*/


.logo{
    margin-inline-start: 1rem;
}

.nav-btns{
    margin-inline-end: 15px;
    justify-self: flex-end;
}

.a-list{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 15px;
}

main{
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 85% 1fr;
}

.imgs-gallery{
    overflow-y: scroll;
    overflow-x: hidden;
}

.imgs-gallery img {
    width: 80%;
    cursor: pointer;
    margin: 10px auto;
}

.meme-editor{
    display: none;
    position: relative;
    width: 80%;
    height: 100%;
    justify-items: center;
    align-content: center;
    grid-template-rows: 70% 30%;
    overflow-y:hidden;
}


canvas{
    width: 75%;
}




.controlers-container{
    padding: 10px 0;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10% repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.line-input {
    grid-column: 1 / -1;
}

.prev-el,
.next-el{
    width: fit-content;
    height:fit-content;
}

footer {
    box-shadow: 0px 4px 16px 0px;
}

.footer-items {
    align-self: center;
    justify-self: center;
}

