@import url('./basic.css');
@import url('./helpers.css');
@import url('./modal.css');

/*===============================*/
header {
  height: fit-content;
  box-shadow: 0px -2px 17px 0px;
  margin-bottom: 20px;
}

.logo {
  justify-self: flex-start;
  font-family: leckerki;
  font-size: 2.5rem;
  margin-inline-start: 1rem;
}


.a-list {
  grid-gap: 0 15px;
}

.btn-menu{
  display: none;
}

main {
  width: 100%;
  grid-template-rows: auto 6fr 1fr;
  overflow-x: hidden;
}



.imgs-gallery {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.imgs-gallery img {
  width: 80%;
  margin: 10px auto;
}

.meme-editor {
  position: relative;
  width: 100%;
  justify-items: center;
  align-content: center;
  grid-template-rows: 40% 60%;
}


.controlers-container {
  align-self: center;
  padding: 60px 0;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% repeat(4, 1fr);
  grid-gap: 5px 5px;
  align-items: center;
  justify-items: center;
}

.line-input {
  grid-column: 1 / -1;
}

.save-btn {
  grid-column: 1 / 3;
}

.font-label {
  grid-column: 1 / 3;
}

.font-select {
  grid-column: 3 / -1;
}

.share-btn {
  grid-column: 1 / -1;
}

footer {
  margin-top: 20px;
  box-shadow: 0px 4px 16px 0px;
}

.footer-items {
  font-family: leckerki;
  font-size: 1.8rem;
}

.a-logo::before,
.footer-items::before {
  content: 'MemeGen';
}

.open-modal{
  grid-column: 1 / -1;
}

@media (min-width: 740px) {
  main {
    width: 100%;
  }

  .nav-btns{
    grid-template-columns: repeat(3, 1fr);
  }

  .imgs-gallery {
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-gap: 10px 5px;
  }

  .gallery-img {
    cursor: pointer;
  }

  .user-img {
    cursor: auto;
  }

  .meme-editor {
    width: 100%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
  }


  .controlers-container {
    width: 100%;
  }
}


@media (max-width: 740px) {
  .btn-menu{
    display: block;
    justify-self: flex-end;
    margin-inline-end: 20px;
    font-size: 2rem;
  }
  .main-screen {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    pointer-events: none;

    opacity: 0;
    transition: opacity 0.8s;
    z-index: 1;
  }

  body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
  }

  .nav-btns {
    position: fixed;
    right: 0;
    bottom: -18px;
    background-color: rgba(170, 168, 174, 0.9);
    height: 100vh;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    transform: translateY(-140%);

    transition: transform 0.6s;
    z-index: 2;
  }

  body.menu-open .nav-btns {
    transform: translateY(0);
  }

  .nav-btns > *:not(:last-child) {
    margin: 0;
  }

  .nav-btns > * {
    align-items: center;
    border-bottom: 1px solid #ebebeb;
  }

  .nav-btns li {
    /* height: inherit; */
    display: block;
    width: 300px;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 12px 0;
    transition: background-color 0.3s;
  }

  .nav-btns a:hover {
    background-color: #f1f1f1;
  }
}
