@import url('./basic.css');
@import url('./helpers.css');

/*===============================*/

.logo {
  justify-self: flex-start;
  font-family: leckerki;
  font-size: 2.5rem;
  margin-inline-start: 1rem;
}

.nav-btns {
  margin-inline-end: 15px;
  justify-self: flex-end;
}

.a-list {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 15px;
}

main {
  width: 100%;
  grid-template-rows: 0.2fr 6fr 0.2fr;
  overflow-x: hidden;
}

main > * {
  width: 100%;
}

.imgs-gallery {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.imgs-gallery img {
  width: 80%;
  margin: 10px auto;
}

.meme-editor {
  margin: 0 auto;
  position: relative;
  width: 100%;
  justify-items: center;
  align-content: center;
  grid-template-rows: 40% 60%;
  padding-bottom: 20px;
}

canvas {
  max-width: 250px;
}

.controlers-container {
  align-self: center;
  padding: 60px 0;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% repeat(4, 1fr);
  grid-gap: 5px 5px;
  align-items: center;
  justify-items: center;
}

.line-input {
  grid-column: 1 / -1;
}

.save-btn {
  grid-column: 1 / 3;
}

.share-btn {
  grid-column: 3 / -1;
}

footer {
  box-shadow: 0px 4px 16px 0px;
  width: 100%;
}

.footer-items {
  align-self: center;
  justify-self: center;
  font-family: leckerki;
  font-size: 1.8rem;
}

.a-logo::before,
.footer-items::before {
  content: 'MemeGen';
}

.screen-cover {
  width: 100vw;
  height: 100vh;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 740px) {
  main {
    width: 100%;
    grid-template-rows: 1fr 6fr 1fr;
  }

  .imgs-gallery {
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-gap: 10px 5px;
  }

  .gallery-img {
    cursor: pointer;
  }

  .user-img {
    cursor: auto;
  }

  .meme-editor {
    width: 100%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
  }

  canvas {
    max-width: 100%;
  }

  .controlers-container{
    width: 100%;
  }
}
